.wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.breadcrumb {
  margin-bottom: 16px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.search {
  flex: 1;
  min-width: 300px;
}

.download {
  margin-right: 8px;
}

.action_add {
  gap: 20px;
}
.searchIcon {
  font-size: 16px;
  color: #aaa;
}
