.add {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 20px;
}
.add-form-page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.add-new {
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
}
