.downloadButton {
  background-color: #fff;
  border: 1px solid rgb(165, 164, 164);

  &:hover {
    border-color: #40a9ff;
  }
}
.sxt {
  color: rgb(132, 128, 128);
}
.mn {
  color: rgb(37, 37, 37);
}
